

.env
dist
.env
.env.dev
.env.example
dist
node_modules
.env
.env.dev
.env.example
release 
electron/dist
electron/out
server/dist
server/node_modules
electron/node_modules
client/dist
client/node_modules